<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quos dicta nulla sint, facilis perferendis tempora necessitatibus maiores provident laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quos dicta nulla sint, facilis perferendis tempora necessitatibus maiores provident laudantium.</p>
    </section>
</body>
</html>